% Compiler Options for rebar
{erl_opts, [
    {src_dirs, ["src"]}
]}.

% Debug
{erl_opts, [debug_info]}.

% Dependencies
{deps, [
    {jiffy,				".*",	{git, "git://github.com/gar1t/jiffy.git", "master"}},
	{elli,				".*",	{git, "git://github.com/knutin/elli.git", "master"}},
	{elli_access_log,	".*",	{git, "git://github.com/wooga/elli_access_log.git", "master"}},
	{elli_stats,		".*",	{git, "git://github.com/knutin/elli_stats.git", "master"}},
	{elli_basicauth,	".*",	{git, "git://github.com/martinrehfeld/elli_basicauth.git", "master"}},
	{elli_fileserve,	".*",	{git, "git://github.com/anha0825/elli_fileserve.git", "master"}},
	{elli_date,			".*",	{git, "git://github.com/knutin/elli_date.git", "master"}},
	{elli_cookie,		".*",	{git, "git://github.com/sthadka/elli_cookie.git", "master"}},
    {elli_gzip_request,	".*",	{git, "git://github.com/wooga/elli_gzip_request.git", "master"}}
   
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.

% Coverage
{cover_enabled, true}.
